.help {
  ul {
    display: grid;
    align-content: center;
    justify-items: center;
    row-gap: 10px;

    li {
      text-transform: lowercase;
      font-size: 18px;
    }

    li:first-child {
      font-weight: bold;
    }

    @include media-breakpoint-up('lg') {
      align-content: center;
      grid-auto-flow: column;
      justify-content: space-between;
      padding: 0 80px;
    }
  }
}
